<ion-view title="Editar Perfil" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="editarPerfil-form1" class="list ">
            <ion-list id="editarPerfil-list3" class=" ">
                <label class="item item-input " id="editarPerfil-input1">
                    <span class="input-label">Nombre</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="editarPerfil-input2">
                    <span class="input-label">Apellido</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="editarPerfil-input3">
                    <span class="input-label">Correo</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="editarPerfil-input4">
                    <span class="input-label">Teléfono</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <button id="editarPerfil-button1" class=" button button-assertive  button-block ">Actualizar</button>
        </form>
    </ion-content>
</ion-view>